body{
    background-color: blanchedalmond;
}
h1{
    text-align: center;
    text-decoration:solid;
    text-transform: capitalize;
}
.carousel-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.slider{
    display: none;
    max-height: 100%;
    max-width: 100%;
}